.sub-container-1 {
  padding: 10px 20px;
  width: 50vw;
  background-color: #2a84ee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #fff;
  font-weight: 500;
}
.sub-title {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  color: #fff;
  font-weight: 700;
}
